.fullrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
    

}
section.pricing {
    border: 50px solid white;
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card1{
    display: flex;
    width: 33%;
    height: 90%;
}
.card1:hover{
    transform: scale(1.1);
}

.card2{
    display: flex;
    width: 33%;
    height: 90%;
}
.card2:hover:hover{
    transform: scale(1.1);
}

.card3{
    display: flex;
    width: 33%;
    height: 90%;
}
.card3:hover{
    transform: scale(1.1);
}

